<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <title>
        {{ title }}
    </title>
</head>
<body>
<div class="container">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">Магазин</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('products.product_list') }}">Каталог</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">О магазине</a>
                    </li>
                    {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Войти</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('orders.order_list') }}">Заказы</a>
                                <a class="dropdown-item" href="{{ url_for('users.edit_profile') }}">Профиль</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('product_types.product_type_list') }}">Типы товаров</a>
                                <a class="dropdown-item" href="{{ url_for('products.product_list') }}">Товары</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('users.logout') }}">Выйти</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0 mr-5">
                    <input class="form-control mr-sm-2" type="search" placeholder="Найти товары" aria-label="Поиск">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="nav-item" href="{{ url_for('basket.item_list') }}">
                            <button class="btn my-2 my-lg-0 {% if request.path != url_for('basket.item_list') %} btn-warning {% endif %}">
                                Корзина
                            </button>
                        </a>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <br>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for (category, message) in messages %}
                    {% if category=='info' %}
                        <div class="alert alert-info">{{ message }}</div>
                    {% elif category=='success' %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>