{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr class="table-row thead-light">
            <th></th>
            <th></th>
            <th>Товар</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>
        {% for item in item_list %}
            <tr class="table-row">
                <td width="10" class="align-middle">
                    <form method="post" action="{{ url_for('basket.item_remove', item_id=item.id) }}">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">
                            &#10005
                        </button>
                    </form>
                </td>
                <td width="100" class="align-middle">
                    <img src="{{ url_for('images.primary_image_resized', product_id=item.product_id, size=100) }}">
                </td>
                <td class="clickable-cell align-middle"
                    data-href="{{ url_for('products.product_view', product_id=item.product_id) }}">
                    {{ item.product }}
                </td>
                <td width="20" class="align-middle">
                    {{ item.quantity }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{{ url_for('basket.checkout') }}">
        <button class="btn btn-lg btn-warning m-2">Оформить заказ</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        jQuery(document).ready(function ($) {
            $(".clickable-cell").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}