{% extends "base.html" %}

{% block content %}
    <h1>Заказы</h1>
    <a class="btn btn-info mb-4 mt-3" href="{{ url_for('orders.order_new') }}">Создать</a>
    <table class="table table-striped">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Покупатель</th>
            <th>Комментарий</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td><a href="{{ url_for('orders.order_edit', order_id=order.id) }}">{{ order.id }}</a></td>
                <td>{{ order.date_order_placed }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.comment }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}