{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table class="table table-borderless">
            {% for field in form if not field.widget.input_type in ('hidden', 'submit') %}
                <tr>
                    <td>{{ field.label() }}</td>
                    <td>
                        {{ field }}
                        {% for error in field.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    {{ form.submit() }}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}