{% extends "base.html" %}

{% block content %}
    <h1>
        {% if is_new %}
            {{ title }}
        {% else %}
            <div>
                {{ title }}
                <a class="float-right" href="{{ url_for('images.product_images', product_id=product.id) }}">Изображения</a>
            </div>
        {% endif %}
    </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if not field.widget.input_type in ('hidden', 'submit') and not field.name in ('quantity') %}
            <div class="form-group">
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        {% endfor %}
        {{ form.submit() }}
        <a class="btn btn-secondary ml-3"
           href="{{ url_for('products.product_view', product_id=product.id) }}">Отмена</a>
    </form>
{% endblock %}