{% extends "base.html" %}

{% block content %}
    <h1>
        {{ title }}
        <a href="{{ url_for('products.product_edit', product_id=product_id) }}"
           style="text-decoration:none">&#10000;</a>
    </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-6 align-self-center">
                <a href="{{ url_for('images.image', image_id=primary_image.id) }}">
                    <img class="img-fluid" src="{{ url_for('images.image', image_id=primary_image.id) }}"
                         alt="">
                </a>
                <div class="row mt-5">
                    {% for image in images %}
                        <div class="col-3 align-self-center">
                            <a href="{{ url_for('images.image', image_id=image.id) }}">
                                <img class="img-fluid img-thumbnail mb-2"
                                     src="{{ url_for('images.image_resized', product_id=image.product_id, image_id=image.id, size=100) }}"
                                     alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    {{ form.name.label }}
                    {{ form.name(readonly=True) }}
                </div>
                <div class="form-group">
                    {{ form.product_type.label }}
                    {{ form.product_type(readonly=True) }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description(readonly=True) }}
                </div>
                <div class="row">
                    {{ form.quantity(class='mr-3 ml-3') }}
                    {{ form.submit(value='Добавить в корзину') }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}