{% extends "base.html" %}

{% block content %}
    <h1>
        {% if is_new %}
            {{ product.ENTITY_NAME }} (Новый)
        {% else %}
            <div>
                {{ product }}
                <a class="float-right" href="{{ url_for('products.images', product_id=product.id) }}">Изображения</a>
            </div>
        {% endif %}
    </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if not field.widget.input_type in ('hidden', 'submit') %}
            <div class="form-group">
                {{ field.label() }}
                {{ field() }}
                {% for error in field.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        {% endfor %}
        {{ form.submit() }}
        <a class="btn btn-secondary ml-3" href="{{ url_for('products.product_list') }}">Отмена</a>
    </form>
{% endblock %}